@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron text-center bg-light p-5">
        <h1 class="display-4">Welcome to CRUDify</h1>
        <p class="lead">A Showcase of My ASP.NET Core Learning Project</p>
        <hr class="my-4">
        <p>Explore the CRUD operations and search functionality implemented using ASP.NET Core.</p>
        <a class="btn btn-primary btn-lg" href="https://learn.microsoft.com/aspnet/core" role="button" target="_blank">Learn More About ASP.NET Core</a>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create</h5>
                    <p class="card-text">Easily add new entries to the database.</p>
                    <div class="card-icon">
                        <i class="fas fa-plus-circle fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Read</h5>
                    <p class="card-text">Retrieve and display data efficiently.</p>
                    <div class="card-icon">
                        <i class="fas fa-eye fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update</h5>
                    <p class="card-text">Modify existing entries with ease.</p>
                    <div class="card-icon">
                        <i class="fas fa-edit fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Delete</h5>
                    <p class="card-text">Remove entries safely and securely.</p>
                    <div class="card-icon">
                        <i class="fas fa-trash-alt fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Search</h5>
                    <p class="card-text">Find data quickly and efficiently.</p>
                    <div class="card-icon">
                        <i class="fas fa-search fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ensure you have included FontAwesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
